.entry {
  color: black;
  font-size: 12px;
  background-color: white;
  position: absolute;

  &.missing {
    background-color: #ff000080;
  }

  &.back {
    color: white;
    background-color: initial;
    text-align: left;
    &:nth-child(even) {
      background-color: #484a50;
    }
  }
}