.entry {
  color: black;
  font-size: 12px;
  background-color: white;
  position: absolute;
  width: 21vw;
  margin-left: 2vw;

  &.missing {
    background-color: #ff000080;
  }

  &.back {
    color: white;
    background-color: initial;
    text-align: left;
    width: 25vw;
    margin-left: 0;
    &:nth-child(even) {
      background-color: #484a50;
    }
  }
}